.heading {
  font-family: 'Lora', serif;
  font-style: normal;
  font-size: 3rem;
  color: $black;
  line-height: 1.15;
  max-width: 550px;
  letter-spacing: 2px;
  font-weight: 300;
}

.heading--white {
  color: $white;
}

.heading--big {
  font-size: 4.5rem;
}

.heading--medium {
  font-size: 3rem;
}

.heading--hero {
  margin-top: 92px;
}

.heading--wide {
  max-width: 600px;
}
