.celebration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  padding-bottom: 50px;

  @media screen and (min-width: $max-lg) {
    margin-top: 200px;
    padding-bottom: 0;
    flex-wrap: nowrap;
  }
}

.celebration__item {
  height: 150px;
  margin: 30px 40px 0;
  width: 100%;
  position: relative;
  cursor: pointer;
  display: block;
  color: $black;
  transform-origin: left;
  transform: scale(1);
  border-radius: 10px;
  transition: transform 0.2s;
  overflow: hidden;

  @media screen and (min-width: $max-lg) {
    mask: url("../images/mask.svg") no-repeat;
    mask-size: cover;
    min-width: 20vw;
    min-height: calc(20vw);
    height: calc(20vw);
    border-radius: 0;
    margin: 0;
  }

  &::before {
    content: '';
    position: absolute;
    background: rgba($black, 0.2);
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 0;

    @media screen and (min-width: $max-md){
      width: calc(10vw);
      height: calc(10vw);
      border: 1px solid $white;
      left: 50%;
      transform-origin: center;
      top: 50%;
      background: none;
      transform: rotate(45deg) translate(-69%, 0%);
    }
  }

  &:first-child:hover {
    transform: scale(1.4) translateX(0);
  }

  &:last-child:hover {
    transform: scale(1.4) translateX(-5.5vw);
  }

  &:hover {
    z-index: 1;
    position: relative;
    transform: scale(1.4) translateX(-20px);

    &::before {
      display: none;
    }

    .celebration__caption {
      opacity: 1;
    }
  }

}

.celebration__img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.celebration__caption {
  position: absolute;
  background-color: $white;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: 'Lora', serif;
  text-align: center;
  width: max-content;
  z-index: 1;
  max-width: 200px;
  padding: 4px 15px;
  transition: opacity 0.3s;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  @media screen and (min-width: $max-lg) {
    opacity: 0;
    font-size: 1.125rem;
  }
}
