.celebration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

.celebration__item {
  min-width: 20vw;
  min-height: calc(20vw);
  height: calc(20vw);
  position: relative;
  cursor: pointer;
  display: block;
  color: $black;
  mask: url("../images/mask.svg") no-repeat;
  mask-size: cover;
  transform-origin: left;
  transform: scale(1);
  transition: transform 0.2s;

  &::before {
    content: '';
    position: absolute;
    width: calc(10vw);
    height: calc(10vw);
    border: 1px solid $white;
    left: 50%;
    transform-origin: center;
    top: 50%;
    transform: rotate(45deg) translate(-69%, 0%);
  }

  &:first-child:hover {
    transform: scale(1.4) translateX(0);
  }

  &:last-child:hover {
    transform: scale(1.4) translateX(-5.5vw);
  }

  &:hover {
    z-index: 1;
    position: relative;
    transform: scale(1.4) translateX(-20px);

    &::before {
      display: none;
    }

    .celebration__caption {
      opacity: 1;
    }
  }
}

.celebration__img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.celebration__caption {
  position: absolute;
  opacity: 0;
  background-color: $white;
  border-radius: 5px;
  font-size: 1.125rem;
  cursor: pointer;
  font-family: 'Lora', serif;
  text-align: center;
  width: max-content;
  max-width: 200px;
  padding: 4px 15px;
  transition: opacity 0.3s;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
