.festival__item {
  height: 425px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.festival__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.festival__photo--short {
  height: 200px;

  &:first-child {
    margin-bottom: 27px;
  }
}
