.footer {
  padding-top: 23vh;

  @media screen and (min-width: $max-md){
    padding-top: 4vh;
  }

  .header-proposal {
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: $max-md){
      flex-direction: row;
    }

    .button {
      display: none;

      @media screen and (min-width: $max-md){
        display: block;
      }
    }
  }
}

.footer__text {
  color: $white;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  width: 100%;
  max-width: 870px;
  margin-top: 5vh;

  @media screen and (min-width: $max-md){
    font-size: 16px;
  }
}

.footer__text--hidden {
  display: none;
  margin-top: 0;
}

.footer__link {
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
  color: $white;
  display: block;
  margin-top: 15px;
  margin-bottom: 51px;
  background: none;
  border: 0;
  font-size: 1rem;
  outline: 0;
  transition: transform 0.15s;

  &:hover {
    transform: scale(1.15);
  }
}

.footer__bottom {
  position: absolute;
  bottom: 50px;
  width: 100%;
}
