.social {
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: -76vh;
  max-width: 100px;
  position: absolute;

  @media screen and (min-width: $max-md) {
    position: static;
    max-width: 120px;
  }
}

.social--footer {
  bottom: -10px;
}

.social__link {
  width: 23px;
  height: 23px;
  transition: transform 0.2s;

  @media screen and (min-width: $max-md) {
    width: 28px;
    height: 28px;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.social__link--twitter {
  background: url("../images/social/twitter.svg") no-repeat center;
  background-size: contain;
}

.social__link--facebook {
  background: url("../images/social/facebook.svg") no-repeat center;
  background-size: contain;
}

.social__link--instagram {
  background: url("../images/social/inst.svg") no-repeat center;
  background-size: contain;
}
